.viewer {
  width: 512px;
  height: 512px;
  position: relative;
  color: white;
}

.bottomLeft {
  bottom: 5px;
  left: 5px;
  position: absolute;
  color: white;
}

.bottomRight {
  bottom: 5px;
  right: 5px;
  position: absolute;
  color: white;
}

.toolbar {
  margin-bottom: 10px;
}

.toolbar button + button {
  margin-left: 5px;
}
