.viewer {
  width: 512px;
  height: 512px;
  position: relative;
  color: white;
}

.bottomLeft {
  bottom: 5px;
  left: 5px;
  position: absolute;
  color: white;
  z-index: 10;
}

.bottomRight {
  bottom: 5px;
  right: 5px;
  position: absolute;
  color: white;
  z-index: 10;
}
